
.card {
    width: 200px;
    height: 150px;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    border-radius: 5px;
}

.card button {
    cursor: pointer;
    padding: 5px;
}